__pycache__
.coverage
*egg-info
/output/
docs/_build/
docs/api/_autosummary/
docs/**/output/
**/.ipynb_checkpoints/

**/model/*
/surrogates/*/_training_data/*.h5
!surrogates/*/_training_data/README.md

**/benchmarks/*
*nohup.out
**/log
**/err
**/.cache