__pycache__
.coverage
*egg-info
docs/_build/
docs/api/_autosummary/

**/model/*
/surrogates/*/_training_data/*.h5
!surrogates/*/_training_data/README.md

**/benchmarks/*
*nohup.out
**/log
**/err
**/.cache